---
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");
console.log({ allPosts });
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About</title>
  </head>
  <body>
    <Navigation />
    <h1>My Astro Learning Blog</h1>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
      {
        allPosts.map(({ frontmatter, url }) => (
          <BlogPost title={frontmatter.title} url={url} />
        ))
      }
    </ul>
  </body>
</html>
